---
import { getCategories, getLanguages, getCategory } from "@/helpers/store"
import { image } from "@/helpers/image"
import Layout from "@/layouts/Layout.astro"
import JSONLD  from 'jsonld';
import Translate from "@/components/Translate.astro";

export async function getStaticPaths() {
	const categories = await getCategories()
	const languages = [...Object.keys(await getLanguages())].filter(language => language !== 'en')
	return languages.flatMap(language => categories.map(category => ({ params: { language, term: category.slug }})))
}

const languages = await getLanguages()
const category = await getCategory(Astro.params.term)
if (!category) throw new Error('Category does not exist')
const pageLanguage = Astro.locals.language
const translations = languages[pageLanguage].translations
const categoryLabel = category.labels[pageLanguage]
const categoryDescription = category.descriptions[pageLanguage]
const otherLanguages = Object.fromEntries(Object.keys(category.labels)
	.filter(langCode => langCode !== pageLanguage)
	.map(langCode => [langCode, languages[langCode].label]))
const categorySearchWords = category.searchWords[pageLanguage]
const formatter = new Intl.ListFormat(pageLanguage, { style: 'long', type: 'conjunction' });

const quads = [...category.pointer?.out().quads() ?? []]

let doc = await JSONLD.fromRDF(quads);
doc[0]['@type'] = [...new Set(doc[0]['@type'])]
---
<Layout title={category.labels.en}>
	<div slot="hero" class={`hero ${category.image ? 'has-image' : ''}`} style={{ '--color': category.color}}>
		{category.image ? <img src={image(category.image, 1280, 400)} class="image" /> : null}
		<div class="title">{categoryLabel}</div>
	</div>

	<div slot="default">

		<nav class="breadcrumb">
			<a class="link" href="/">{translations['all']}</a>
			<span class="divider"></span>
			<a class="link" href={Astro.url}>{categoryLabel}</a>
		</nav>

		{categoryDescription ? <div class="description field">{categoryDescription}</div> : null}	

		<div class="field identifier">
			<label class="label">{translations['identifier']}</label>
			<div class="items">
				<span class="item">
					<code>
						gct:{Astro.params.term}
					</code>
				</span>
			</div>
		</div>

		{Object.keys(otherLanguages).length ? 
		<div class="field other-translations">
			<label class="label">{translations['other-translations']}</label>
			<div class="items">
				{Object.entries(otherLanguages).map(([langCode, otherLanguage]) => <a href={`${langCode !== 'en' ? '/' + langCode : ''}/${Astro.params.term}`} class="item link-outline">{otherLanguage}</a>)}	
			</div>
		</div> : null}

		{categorySearchWords ?
		<div class="field search-words">
			<label class="label">{translations['search-words']}</label>
			<div class="items">
				<span class="item">{formatter.format(categorySearchWords)}</span>
			</div>
		</div> : null}		
	</div>

	<script type="application/ld+json" set:html={JSON.stringify(doc, null, 2)}>
	</script>

</Layout>