---
import Layout from '../layouts/Layout.astro'
import { getCategories, getSiteDescriptions } from "../helpers/store"
import { Markdown } from '@astropub/md'

const categories = await getCategories()
const siteDescriptions = await getSiteDescriptions()
---

<Layout title="Global Christian Taxonomy">
	{siteDescriptions.map(({description, bcp47}) => <div data-lang-hidable={bcp47}><Markdown of={description} /></div>)}
	<div class="row gap-3 the-grid">
		{categories.map(category => <a class="card p-0" style="width: 18rem;" href={category.slug}>
			{category.image ? <img src={`https://wsrv.nl/?url=${category.image}&w=300&h=120&fit=cover&a=attention`} class="card-img-top" /> : null} 
			<div class="card-body">
			{Object.entries(category.labels).map(([language, value]) => {
				return <h5 class="card-title" data-lang-hidable={language}>{value}</h5>
					<p class="card-text">
						<span data-lang-hidable={language}>
							URI = <span>gct:{category.slug}</span>
						</span>
					</p>
				})}
			</div>
		</a>)}
		<div class="empty card"></div>
		<div class="empty card"></div>
		<div class="empty card"></div>
		<div class="empty card"></div>
		<div class="empty card"></div>
		<div class="empty card"></div>
	</div>
</Layout>
