---
const { category } = Astro.props;
import { image } from '../helpers/image'
const language = Astro.locals.language
const categoryLabel = category.labels[language]
---
<a 
    data-searchwords={category.searchWords[language]?.join(' ') ?? ''} 
    class={`category circle ${category.image ? 'has-image' : ''}`} 
    style={`--color: ${category.color}`} 
    href={`${Astro.params.language ? `/${Astro.params.language}/` : '/'}${category.slug}`}>
    {category.image ? <img class="background-image" loading="lazy" src={image(category.image, 145)} /> : null} 

    <h2 class="title" data-display="flex" data-lang-hidable={language}>{categoryLabel}</h2>
</a>