---
import { getCategories, getLanguages, getCategory } from "@/helpers/store"
import { image } from "@/helpers/image"
import Layout from "@/layouts/Layout.astro"

export async function getStaticPaths() {
	const categories = await getCategories()
	const languages = [...Object.keys(await getLanguages())].filter(language => language !== 'en')
	return languages.flatMap(language => categories.map(category => ({ params: { language, term: category.slug }})))
}

const languages = await getLanguages()
const category = await getCategory(Astro.params.term)
if (!category) throw new Error('Category does not exist')
const pageLanguage = Astro.locals.language
const translations = languages[pageLanguage].translations
const categoryLabel = category.labels[pageLanguage]
const categoryDescription = category.descriptions[pageLanguage]
const otherLanguages = Object.fromEntries(Object.keys(category.labels)
	.filter(langCode => langCode !== pageLanguage)
	.map(langCode => [langCode, languages[langCode].label]))
const categorySearchWords = category.searchWords[pageLanguage]
const formatter = new Intl.ListFormat(pageLanguage, { style: 'long', type: 'conjunction' });
---
<Layout title={category.labels.en}>
	<div slot="hero" class={`hero ${category.image ? 'has-image' : ''}`} style={{ '--color': category.color}}>
		{category.image ? <img src={image(category.image, 1280, 400)} class="image" /> : null}
		<div class="title">{categoryLabel}</div>
	</div>

	<div slot="default">

		<nav class="breadcrumb">
			<a class="link" href="/">{translations['all']}</a>
			<span class="divider"></span>
			<a class="link" href={Astro.url}>{categoryLabel}</a>
		</nav>

		{categoryDescription ? <div class="description field">{categoryDescription}</div> : null}	

		<div class="field identifier">
			<label class="label">{translations['identifier']}</label>
			<div class="items">
				<span class="item">gct:{Astro.params.term}</span>
			</div>
		</div>

		{Object.keys(otherLanguages).length ? 
		<div class="field other-translations">
			<label class="label">{translations['other-translations']}</label>
			<div class="items">
				{Object.entries(otherLanguages).map(([langCode, otherLanguage]) => <a href={`${langCode !== 'en' ? '/' + langCode : ''}/${Astro.params.term}`} class="item link-outline">{otherLanguage}</a>)}	
			</div>
		</div> : null}

		{categorySearchWords ?
		<div class="field search-words">
			<label class="label">{translations['search-words']}</label>
			<div class="items">
				<span class="item">{formatter.format(categorySearchWords)}</span>
			</div>
		</div> : null}		
	</div>

	<div class="translate" slot="footer">
		<img class="image" src="https://images.unsplash.com/photo-1531266752426-aad472b7bbf4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGdsb2JlfGVufDB8fDB8fHww&auto=format&fit=crop&w=1000&q=60" />
		<h1>Don't see your language?</h1>
		<p>Help our common cause by transating the text.</p>
		<a class="cta-button" href="mailto:info.media@om.org?subject=I would like to translate Global Christian Taxonomy">Translate</a>
	</div>

</Layout>