---
import { image } from '@/helpers/image';
import LanguageSelector from '../components/LanguageSelector.astro'
import { getLanguages } from "../helpers/store"
import '../scss/style.scss';
import MainMenu from '@/components/MainMenu.astro';
import Translate from '@/components/Translate.astro';

interface Props {
	title: string;
	bodyClass?: string
	frontmatter: {
		title: string
	}
}

const { title, bodyClass } = Astro.props;
const languages = await getLanguages()
const language = languages[Astro.locals.language]

const pageTitle = `${title ?? Astro.props.frontmatter.title} | Global Christian Taxonomy`
---

<!DOCTYPE html>
<html lang={Astro.params.language ?? 'en'}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={pageTitle}>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class={bodyClass ?? ''}>
		<header class="site-header">
			<a class="site-link" href={Astro.locals.language === 'en' ? '/' : `/${Astro.locals.language}`}>
				<img src="/logo.svg" class="site-logo" />

				<h1 class="site-title">{language.title}</h1>
			</a>

			<LanguageSelector />
		</header>

		<MainMenu />

		<slot name="hero">
			<div slot="hero" class="hero has-image empty">
				<img class="image" src={image(language.background, 1000, 200)} />
			</div>
		</slot>

		<main class="site-main">
			<slot />
		</main>

		<footer class="site-footer">
			<slot name="footer" />

			<Translate />

			<div class="links">
				<ul>
					<li><a href="https://github.com/OM-MediaWorks/">GitHub</a></li>
					<li><a href="https://om.org/mediaworks">MediaWorks</a></li>
					<li><a href="https://om.org">Operation Mobilisation</a></li>
				</ul>
				<img class="image" src={image('https://images.unsplash.com/photo-1604549944235-3e5579b15cc2', 1000)} />
				<p>An initiative by MediaWorks, trying to help the global Christian media landscape.</p>
			</div>
		</footer>
	</body>
</html>
