---
import LanguageSelector from '../components/LanguageSelector.astro'
import { getLanguages } from "../helpers/store"

interface Props {
	title: string;
	bodyClass?: string
}

const { title, bodyClass } = Astro.props;
const languages = await getLanguages()
const language = languages[Astro.params.language ?? 'en']
const pageTitle = `${title} | Global Christian Taxonomy`
---

<!DOCTYPE html>
<html lang={Astro.params.language ?? 'en'}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={pageTitle}>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class={bodyClass ?? ''}>
		<header class="site-header">
			<a class="site-link" href="/">
				<img src="/logo.svg" class="site-logo" />

				<h1 class="site-title">{language.title}</h1>
			</a>

			<LanguageSelector />
		</header>

		<slot />
	</body>
</html>

<style is:global>
	@import url('../scss/style.scss');
</style>